<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/about.png</key>
		<dict>
			<key>frame</key>
			<string>{{1963, 209}, {60, 120}}</string>
			<key>offset</key>
			<string>{-2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 6}, {60, 120}}</string>
			<key>sourceSize</key>
			<string>{84, 132}</string>
		</dict>
		<key>Sprites/angry-birds-logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1300, 308}}</string>
			<key>offset</key>
			<string>{6, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 2}, {1300, 308}}</string>
			<key>sourceSize</key>
			<string>{1332, 328}</string>
		</dict>
		<key>Sprites/angryBird.png</key>
		<dict>
			<key>frame</key>
			<string>{{665, 579}, {143, 132}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {143, 132}}</string>
			<key>sourceSize</key>
			<string>{146, 138}</string>
		</dict>
		<key>Sprites/angrybird2.png</key>
		<dict>
			<key>frame</key>
			<string>{{665, 724}, {143, 131}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {143, 131}}</string>
			<key>sourceSize</key>
			<string>{146, 132}</string>
		</dict>
		<key>Sprites/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1073, 601}, {126, 126}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {126, 126}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>Sprites/button-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809, 1}, {206, 216}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 6}, {206, 216}}</string>
			<key>sourceSize</key>
			<string>{208, 224}</string>
		</dict>
		<key>Sprites/button-grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{1963, 331}, {50, 53}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 4}, {50, 53}}</string>
			<key>sourceSize</key>
			<string>{52, 57}</string>
		</dict>
		<key>Sprites/enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{369, 579}, {252, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {252, 294}}</string>
			<key>sourceSize</key>
			<string>{252, 294}</string>
		</dict>
		<key>Sprites/enemy2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1727, 639}, {253, 301}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {253, 301}}</string>
			<key>sourceSize</key>
			<string>{254, 304}</string>
		</dict>
		<key>Sprites/enemy3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1727, 383}, {254, 305}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {254, 305}}</string>
			<key>sourceSize</key>
			<string>{260, 308}</string>
		</dict>
		<key>Sprites/launcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 311}, {266, 798}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {266, 798}}</string>
			<key>sourceSize</key>
			<string>{272, 800}</string>
		</dict>
		<key>Sprites/play_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 311}, {478, 288}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 3}, {478, 288}}</string>
			<key>sourceSize</key>
			<string>{488, 294}</string>
		</dict>
		<key>Sprites/reset.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809, 209}, {152, 144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {152, 144}}</string>
			<key>sourceSize</key>
			<string>{164, 148}</string>
		</dict>
		<key>Sprites/shape-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 579}, {366, 356}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {366, 356}}</string>
			<key>sourceSize</key>
			<string>{368, 360}</string>
		</dict>
		<key>Sprites/shape-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1281, 339}, {444, 364}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {444, 364}}</string>
			<key>sourceSize</key>
			<string>{448, 368}</string>
		</dict>
		<key>Sprites/shape-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{799, 601}, {144, 272}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 272}}</string>
			<key>sourceSize</key>
			<string>{144, 272}</string>
		</dict>
		<key>Sprites/shape-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1303, 265}, {496, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {496, 72}}</string>
			<key>sourceSize</key>
			<string>{496, 72}</string>
		</dict>
		<key>Sprites/tower-btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1303, 1}, {504, 262}}</string>
			<key>offset</key>
			<string>{0, -69}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 138}, {504, 262}}</string>
			<key>sourceSize</key>
			<string>{504, 400}</string>
		</dict>
		<key>Sprites/volume.png</key>
		<dict>
			<key>frame</key>
			<string>{{369, 833}, {90, 116}}</string>
			<key>offset</key>
			<string>{3, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {90, 116}}</string>
			<key>sourceSize</key>
			<string>{96, 124}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
