<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/about.png</key>
		<dict>
			<key>frame</key>
			<string>{{1983, 453}, {60, 120}}</string>
			<key>offset</key>
			<string>{-2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 6}, {60, 120}}</string>
			<key>sourceSize</key>
			<string>{84, 132}</string>
		</dict>
		<key>Sprites/angry-birds-logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1300, 308}}</string>
			<key>offset</key>
			<string>{6, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 2}, {1300, 308}}</string>
			<key>sourceSize</key>
			<string>{1332, 328}</string>
		</dict>
		<key>Sprites/angryBird.png</key>
		<dict>
			<key>frame</key>
			<string>{{1165, 311}, {143, 132}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {143, 132}}</string>
			<key>sourceSize</key>
			<string>{146, 138}</string>
		</dict>
		<key>Sprites/angrybird2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1165, 456}, {143, 131}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {143, 131}}</string>
			<key>sourceSize</key>
			<string>{146, 132}</string>
		</dict>
		<key>Sprites/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1165, 601}, {126, 126}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {126, 126}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>Sprites/button-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809, 245}, {206, 216}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 6}, {206, 216}}</string>
			<key>sourceSize</key>
			<string>{208, 224}</string>
		</dict>
		<key>Sprites/button-grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{1983, 575}, {50, 53}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 4}, {50, 53}}</string>
			<key>sourceSize</key>
			<string>{52, 57}</string>
		</dict>
		<key>Sprites/circlebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 937}, {308, 302}}</string>
			<key>offset</key>
			<string>{2, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {308, 302}}</string>
			<key>sourceSize</key>
			<string>{316, 304}</string>
		</dict>
		<key>Sprites/circlewood.png</key>
		<dict>
			<key>frame</key>
			<string>{{659, 817}, {308, 296}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {308, 296}}</string>
			<key>sourceSize</key>
			<string>{316, 296}</string>
		</dict>
		<key>Sprites/enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1636, 709}, {98, 97}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {98, 97}}</string>
			<key>sourceSize</key>
			<string>{101, 97}</string>
		</dict>
		<key>Sprites/icebird_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1131, 821}, {171, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {171, 160}}</string>
			<key>sourceSize</key>
			<string>{172, 162}</string>
		</dict>
		<key>Sprites/icebird_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{969, 990}, {171, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {171, 160}}</string>
			<key>sourceSize</key>
			<string>{172, 162}</string>
		</dict>
		<key>Sprites/icebird_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1131, 994}, {171, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {171, 160}}</string>
			<key>sourceSize</key>
			<string>{172, 162}</string>
		</dict>
		<key>Sprites/icebird_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{969, 817}, {171, 160}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {171, 160}}</string>
			<key>sourceSize</key>
			<string>{172, 162}</string>
		</dict>
		<key>Sprites/launcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 491}, {266, 798}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {266, 798}}</string>
			<key>sourceSize</key>
			<string>{272, 800}</string>
		</dict>
		<key>Sprites/longbrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 311}, {820, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {820, 88}}</string>
			<key>sourceSize</key>
			<string>{820, 88}</string>
		</dict>
		<key>Sprites/longwood.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 401}, {820, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {820, 88}}</string>
			<key>sourceSize</key>
			<string>{820, 88}</string>
		</dict>
		<key>Sprites/pigg-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1782, 649}, {198, 194}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {198, 194}}</string>
			<key>sourceSize</key>
			<string>{202, 194}</string>
		</dict>
		<key>Sprites/pigg-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1783, 453}, {198, 194}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {198, 194}}</string>
			<key>sourceSize</key>
			<string>{202, 194}</string>
		</dict>
		<key>Sprites/pigg-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1293, 893}, {198, 193}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {198, 193}}</string>
			<key>sourceSize</key>
			<string>{202, 194}</string>
		</dict>
		<key>Sprites/play_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1303, 265}, {478, 288}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 3}, {478, 288}}</string>
			<key>sourceSize</key>
			<string>{488, 294}</string>
		</dict>
		<key>Sprites/rectanglebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 759}, {328, 176}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {328, 176}}</string>
			<key>sourceSize</key>
			<string>{328, 176}</string>
		</dict>
		<key>Sprites/rectanglewood.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 645}, {336, 170}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {336, 170}}</string>
			<key>sourceSize</key>
			<string>{336, 172}</string>
		</dict>
		<key>Sprites/reset.png</key>
		<dict>
			<key>frame</key>
			<string>{{1636, 555}, {152, 144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {152, 144}}</string>
			<key>sourceSize</key>
			<string>{164, 148}</string>
		</dict>
		<key>Sprites/squarebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{823, 311}, {332, 340}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {332, 340}}</string>
			<key>sourceSize</key>
			<string>{332, 344}</string>
		</dict>
		<key>Sprites/squarewood.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298, 555}, {336, 336}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {336, 336}}</string>
			<key>sourceSize</key>
			<string>{336, 336}</string>
		</dict>
		<key>Sprites/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809, 1}, {242, 238}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {242, 238}}</string>
			<key>sourceSize</key>
			<string>{242, 238}</string>
		</dict>
		<key>Sprites/tower-btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1303, 1}, {504, 262}}</string>
			<key>offset</key>
			<string>{0, -69}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 138}, {504, 262}}</string>
			<key>sourceSize</key>
			<string>{504, 400}</string>
		</dict>
		<key>Sprites/trianglebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{331, 759}, {324, 326}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {324, 326}}</string>
			<key>sourceSize</key>
			<string>{328, 328}</string>
		</dict>
		<key>Sprites/trianglewood.png</key>
		<dict>
			<key>frame</key>
			<string>{{1636, 845}, {322, 334}}</string>
			<key>offset</key>
			<string>{-3, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {322, 334}}</string>
			<key>sourceSize</key>
			<string>{328, 336}</string>
		</dict>
		<key>Sprites/unstar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1293, 1088}, {192, 172}}</string>
			<key>offset</key>
			<string>{3, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 6}, {192, 172}}</string>
			<key>sourceSize</key>
			<string>{198, 182}</string>
		</dict>
		<key>Sprites/volume.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139, 729}, {90, 116}}</string>
			<key>offset</key>
			<string>{3, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {90, 116}}</string>
			<key>sourceSize</key>
			<string>{96, 124}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
