<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/angry-birds-logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {324, 76}}</string>
			<key>offset</key>
			<string>{2, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 1}, {324, 76}}</string>
			<key>sourceSize</key>
			<string>{333, 82}</string>
		</dict>
		<key>Sprites/angryBird.png</key>
		<dict>
			<key>frame</key>
			<string>{{440, 143}, {35, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {35, 32}}</string>
			<key>sourceSize</key>
			<string>{36, 34}</string>
		</dict>
		<key>Sprites/angrybird2.png</key>
		<dict>
			<key>frame</key>
			<string>{{440, 108}, {35, 33}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 33}}</string>
			<key>sourceSize</key>
			<string>{36, 33}</string>
		</dict>
		<key>Sprites/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{477, 164}, {31, 31}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {31, 31}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Sprites/button-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 1}, {13, 14}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 14}}</string>
			<key>sourceSize</key>
			<string>{13, 14}</string>
		</dict>
		<key>Sprites/button-grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 16}, {13, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {13, 13}}</string>
			<key>sourceSize</key>
			<string>{13, 14}</string>
		</dict>
		<key>Sprites/enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{131, 79}, {63, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {63, 73}}</string>
			<key>sourceSize</key>
			<string>{63, 73}</string>
		</dict>
		<key>Sprites/enemy2.png</key>
		<dict>
			<key>frame</key>
			<string>{{66, 79}, {63, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {63, 75}}</string>
			<key>sourceSize</key>
			<string>{63, 76}</string>
		</dict>
		<key>Sprites/enemy3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 79}, {63, 76}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {63, 76}}</string>
			<key>sourceSize</key>
			<string>{65, 77}</string>
		</dict>
		<key>Sprites/launcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 197}, {67, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 200}}</string>
			<key>sourceSize</key>
			<string>{68, 200}</string>
		</dict>
		<key>Sprites/reset.png</key>
		<dict>
			<key>frame</key>
			<string>{{455, 1}, {37, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {37, 35}}</string>
			<key>sourceSize</key>
			<string>{41, 37}</string>
		</dict>
		<key>Sprites/shape-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 399}, {92, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {92, 90}}</string>
			<key>sourceSize</key>
			<string>{92, 90}</string>
		</dict>
		<key>Sprites/shape-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{327, 69}, {111, 92}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {111, 92}}</string>
			<key>sourceSize</key>
			<string>{112, 92}</string>
		</dict>
		<key>Sprites/shape-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{455, 38}, {36, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 68}}</string>
			<key>sourceSize</key>
			<string>{36, 68}</string>
		</dict>
		<key>Sprites/shape-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{493, 38}, {124, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {124, 18}}</string>
			<key>sourceSize</key>
			<string>{124, 18}</string>
		</dict>
		<key>Sprites/tower-btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{327, 1}, {126, 66}}</string>
			<key>offset</key>
			<string>{0, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 34}, {126, 66}}</string>
			<key>sourceSize</key>
			<string>{126, 100}</string>
		</dict>
		<key>Sprites/volume.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 163}, {22, 28}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {22, 28}}</string>
			<key>sourceSize</key>
			<string>{24, 31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
