<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/about.png</key>
		<dict>
			<key>frame</key>
			<string>{{993, 205}, {30, 60}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 3}, {30, 60}}</string>
			<key>sourceSize</key>
			<string>{42, 66}</string>
		</dict>
		<key>Sprites/angry-birds-logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {650, 154}}</string>
			<key>offset</key>
			<string>{3, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 1}, {650, 154}}</string>
			<key>sourceSize</key>
			<string>{666, 164}</string>
		</dict>
		<key>Sprites/angryBird.png</key>
		<dict>
			<key>frame</key>
			<string>{{585, 230}, {71, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {71, 65}}</string>
			<key>sourceSize</key>
			<string>{73, 69}</string>
		</dict>
		<key>Sprites/angrybird2.png</key>
		<dict>
			<key>frame</key>
			<string>{{585, 157}, {71, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {71, 65}}</string>
			<key>sourceSize</key>
			<string>{73, 66}</string>
		</dict>
		<key>Sprites/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{585, 303}, {63, 63}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {63, 63}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>Sprites/button-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{907, 1}, {103, 108}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 3}, {103, 108}}</string>
			<key>sourceSize</key>
			<string>{104, 112}</string>
		</dict>
		<key>Sprites/button-grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{993, 267}, {25, 26}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {25, 26}}</string>
			<key>sourceSize</key>
			<string>{26, 28}</string>
		</dict>
		<key>Sprites/circlebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 474}, {154, 151}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {154, 151}}</string>
			<key>sourceSize</key>
			<string>{158, 152}</string>
		</dict>
		<key>Sprites/circlewood.png</key>
		<dict>
			<key>frame</key>
			<string>{{383, 412}, {154, 148}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {154, 148}}</string>
			<key>sourceSize</key>
			<string>{158, 148}</string>
		</dict>
		<key>Sprites/enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{332, 384}, {49, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {49, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 48}</string>
		</dict>
		<key>Sprites/launcher.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 249}, {133, 399}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {133, 399}}</string>
			<key>sourceSize</key>
			<string>{136, 400}</string>
		</dict>
		<key>Sprites/longbrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 157}, {410, 44}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {410, 44}}</string>
			<key>sourceSize</key>
			<string>{410, 44}</string>
		</dict>
		<key>Sprites/longwood.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 203}, {410, 44}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {410, 44}}</string>
			<key>sourceSize</key>
			<string>{410, 44}</string>
		</dict>
		<key>Sprites/pigg-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{893, 205}, {98, 97}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {98, 97}}</string>
			<key>sourceSize</key>
			<string>{101, 97}</string>
		</dict>
		<key>Sprites/pigg-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{907, 106}, {98, 97}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {98, 97}}</string>
			<key>sourceSize</key>
			<string>{101, 97}</string>
		</dict>
		<key>Sprites/pigg-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{539, 442}, {98, 96}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {98, 96}}</string>
			<key>sourceSize</key>
			<string>{101, 97}</string>
		</dict>
		<key>Sprites/play_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{653, 135}, {238, 143}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {238, 143}}</string>
			<key>sourceSize</key>
			<string>{244, 147}</string>
		</dict>
		<key>Sprites/rectanglebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 384}, {164, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {164, 88}}</string>
			<key>sourceSize</key>
			<string>{164, 88}</string>
		</dict>
		<key>Sprites/rectanglewood.png</key>
		<dict>
			<key>frame</key>
			<string>{{402, 325}, {168, 85}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {168, 85}}</string>
			<key>sourceSize</key>
			<string>{168, 86}</string>
		</dict>
		<key>Sprites/reset.png</key>
		<dict>
			<key>frame</key>
			<string>{{572, 368}, {76, 72}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {76, 72}}</string>
			<key>sourceSize</key>
			<string>{82, 74}</string>
		</dict>
		<key>Sprites/squarebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{413, 157}, {166, 170}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {166, 170}}</string>
			<key>sourceSize</key>
			<string>{166, 172}</string>
		</dict>
		<key>Sprites/squarewood.png</key>
		<dict>
			<key>frame</key>
			<string>{{652, 280}, {168, 168}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {168, 168}}</string>
			<key>sourceSize</key>
			<string>{168, 168}</string>
		</dict>
		<key>Sprites/tower-btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{653, 1}, {252, 132}}</string>
			<key>offset</key>
			<string>{0, -34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 68}, {252, 132}}</string>
			<key>sourceSize</key>
			<string>{252, 200}</string>
		</dict>
		<key>Sprites/trianglebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{167, 384}, {162, 163}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {162, 163}}</string>
			<key>sourceSize</key>
			<string>{164, 164}</string>
		</dict>
		<key>Sprites/trianglewood.png</key>
		<dict>
			<key>frame</key>
			<string>{{822, 327}, {161, 167}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {161, 167}}</string>
			<key>sourceSize</key>
			<string>{164, 168}</string>
		</dict>
		<key>Sprites/volume.png</key>
		<dict>
			<key>frame</key>
			<string>{{822, 280}, {45, 58}}</string>
			<key>offset</key>
			<string>{1, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {45, 58}}</string>
			<key>sourceSize</key>
			<string>{48, 62}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
